<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
   <tbody id="users">
   <%= render @users %>
    <div id="paginator">
    <%= paginate @users, :remote => true %>
    </div>
    </tbody>
</table>
<br>
<%= link_to 'New User', new_user_path %>
